[submodule "submodules/encoding-tools"]
	path = submodules/encoding-tools
	url = https://github.com/music-encoding/encoding-tools
	branch = master
[submodule "submodules/verovio"]
	path = submodules/verovio
	url = https://github.com/rism-ch/verovio
	branch = master
[submodule "schema"]
	path = submodules/schema
	url = https://github.com/music-encoding/schema.git
	branch = main
[submodule "guidelines"]
	path = submodules/guidelines
	url = https://github.com/music-encoding/guidelines
	branch = main
