li {
  display: list-item;
}

list {
  display: block;
  list-style-type: asterisks;
  margin: 0.5em 0 0 1em !important;
  position: static;
}

list[form="simple"] {
  display: block;
  list-style-type: none;
}